.sidebar {
    width: 250px;
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  }
  
  .logo {
    color: #ff4500;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .sidebar-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar nav li {
    margin-bottom: 20px;
  }
  
  .sidebar nav a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
  }
  
  .sidebar nav li a.active {
    background-color: transparent;
    color: #ff6234;
    border-left: 3px solid #ff6234;
    padding-left: 10px;
    margin-left: -3px;
  }
  
  .sidebar nav a:hover {
    background-color: #f0f0f0;
  }
  
  .logout {
    margin-top: auto;
  }
  
  .logout a {
    color: #ff4500;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px;
  }

.sidebar hr {
  border: none;
  height: 1px;
  background: #f0f0f0;
  margin: 14px 0;
}
